
<div class="text-center fondo1">
    <div class="row d-flex justify-content-center mb-0">

    

        
    
    <div >  
        
        <table >
            <tr>
              <th>Código-</th>
              <th>Nome-</th> 
              <th>Unidade-</th> 
              <th>Valor-</th>
              <th>Desconto</th>
              
            </tr>

            <tr *ngFor="let p of productos" >
                <td>{{p.sku}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.uniMedida}}</td>
                <td>{{p.valor}}</td>
                <td>{{p.descuento}}</td>
                
                <td>
                  <button type="button" class="btn btn-primary mb-3" (click)="ver(p)" id="ver">Ver</button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary mb-3" (click)="editar(p)" id="editar">Editar</button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary mb-3" (click)="borrar(p)" id="borrar">Excluir</button>
                </td>
                
            </tr>
            
        </table>
        <br>
        <br>
    </div>

  </div></div>