

<div class="text-center fondo1">
    <form id="regisVete" (ngSubmit)="registrar()">
      <div class="row d-flex justify-content-center mb-0">
        <label class="tituloForm mb-0 mt-3">Cadastro</label>
      </div>
      <!--Fila 1 Datos Principales-->
      <div class="row form-group d-flex justify-content-center">
        <!--Campo Nombre-->
        <div class="col-5 p-0 campo">
          <label class="letraForm">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Nome">
        </div>
        <!--Fin Campo Nombre-->
      </div>
      <div class="row form-group d-flex justify-content-center">
        <!--Campo Contraseña-->
        <div class="col-5 p-0 campo">
          <label class="letraForm">Senha</label>
          <input type="password" class="form-control" [(ngModel)]="usuario.contrasena" name="contrasena" placeholder="Senha">
        </div>
        <!--Fin Campo Contraseña-->
      </div>
      <div class="row form-group d-flex justify-content-center">
        <div class="col-5 p-0 campo">
            <label for="inputState">Tipo</label>
            <select id="inputState" class="form-control" [(ngModel)]="usuario.rol" name="rol">
            <option value="ROLE_CAJERO" selected>Caixa</option>
            <option value="ROLE_BODEGERO">Gerente</option>
            </select>
        </div>
      </div>
      <div class="row form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mb-3" id="addProducto">Cadastre-se</button>
      </div>
    </form>
  </div>